body {
  margin: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.selling-points {
  background-color: #f5f5f5;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 8px;
}

.selling-points-item {
  font-size: 15px;
  font-family: barlow-semi-condensed;
  font-weight: 500;
  align-items: center;
  padding: 4px 8px;
}

.icons {
}

.input-icon {
}

.navigation-header {
}

.marketing-row-top {
  display: flex;
  justify-content: center;
}

.customer-selector {
}

.marketing-row-top {
}

.club-box {
}

.menu-header-bot {
  height: 40px;
  justify-content: center;
  text-align: center;
}

.menu-item {
  list-style: none;
  display: inline-block;
}

.search-container {
  border: solid #f8b912;
  border-width: 2px;
}

.hero-image {
}

.content-title {
  background-color: #f8b912;
  text-align: center;
}

.product-box {
  border-radius: 8px;
}
